body {
    position: absolute;
    width: 100%;
    height: 100%;
}

#from, #from_place, #num_of_seat, #to_place, #transport {
    margin-bottom: 5px;
}

form {
    position: relative;
    width: 30%;
    padding: 5px;
    min-width: 455px;
    min-height: 545px;
    margin: auto;
    margin-top: 1%;
}

button {
    width: 45%;
    position: relative;
}

#add_path {
    margin-right: 5%;
}

#from, #to{
    width: 35%;
    position: relative;
}

#from_place, #to_place {
    width: 68%;
}

#num_of_seat, #transport{
    width: 69%;
}

p, #added, #final_path {
    width: 95%;
    margin: 0;
    padding: 0;
    position: relative;
}